.LogInComponent{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;

}

.LogInComponentImage{
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
}

.LogInComponentImage::after{
    content: "";
    background-color: #582300aa;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.LogInComponentDiv{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff2;
    z-index: 5;
}

.LogInComponentDiv label{
    color: orange;
}
.LogInComponentDiv input{
    color: #ffffff;
    
}
