.ErrorComponent{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: #180e00;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    color: #ff6347;
}

